*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// --------------
// media query detail 
// 1. tab break point 768
// ---------------
// main color 
$primaryColor: #0088CC;
$secondaryColor: #222529;
// text colors
$primaryTextColor: #1d1d1d;
$secondaryTextColor: #ffffff;
$footerTextColor: gray;
// lavbels color
$cartCountColor: #FF5B5B;
$manueLabel: #EB2771;
$discountLabel: #E27C7C;
// -----------------------------------
// top header classes
.jfm_top_header {
    background-color: $primaryColor;
}

.jfm_top_header_items {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
}

// contact area 
.jfm_top_header_left {
    color: $secondaryTextColor;
    display: flex;
    padding: 10px 0px;
    justify-content: flex-start;
    align-items: center;
    width: 17%;
}

// manue area
.jfm_top_header_right {
    color: $secondaryTextColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    width: 83%;
}

.jfm_right_manue {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 0 20px;
}

.jfm_right_manue_items {
    padding: 0px 7px;
    font-size: 11px;
}

.jfm_right_social {
    display: flex;
    width: 110px;
    justify-content: space-evenly;
    border-left: 1px solid rgba(255, 255, 255, 0.562);
}

.jfm_right_social_items {
    width: 27px;
    height: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jfm_right_social_items:hover {
    border: 1px solid white;
    border-radius: 50%;
}

// bottom header
.jfm_bottom_header {
    height: 100px;
    display: flex;
    align-items: center;
}

.jfm_bottom_header_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.jfm_bottom_header_logo>img {
    height: 50px;
}

.jfm_bottom_header_search {
    width: 50%;
}

.jfm_bottom_header_search_bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid $primaryColor;
    color: $footerTextColor;
}

.jfm_bottom_header_search_input {
    border: none;
    outline: none;
}

.jfm_bottom_header_functional {
    display: flex;
    width: 15%;
    justify-content: space-evenly;
}

// footer area main css
.jfm_footer {
    background-color: $secondaryColor;
}

.jfm_footer_title {
    color: $secondaryTextColor;
    font-weight: 600;
    margin-bottom: 15px;
}

.jfm_footer_logo_image {
    max-width: 104px;
    max-height: 40px;
    margin-bottom: 20px;
}

.jfm_footer_text {
    color: $footerTextColor;
    margin-bottom: 20px;
    font-size: 13px;
}

.jfm_footer_read_more {
    color: $secondaryTextColor;
    line-height: 4;
}

// 2nd column
.jfm_footer_secondary_title {
    color: $secondaryTextColor;
    font-size: 13px;
}

.jfm_footer_copyright {
    color: $footerTextColor;
    font-size: 13px;
    border-top: 1px solid $footerTextColor;
}

.jfm_footer_link {
    color: $footerTextColor;
    text-decoration: none;
    transition: 0.3s;
    font-size: 13px;
}

.jfm_footer_link:hover {
    color: $secondaryTextColor;
    transition: 0.3s;
}

.jfm_footer_tags {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.jfm_footer_tag {
    color: $footerTextColor;
    text-decoration: none;
    border: 1px solid rgb(66, 66, 66);
    padding: 2px 7px;
    margin-bottom: 8px;
    margin-right: 8px;
    transition: 0.3s;
    font-size: 11px;
}

.jfm_footer_tag:hover {
    color: $secondaryTextColor;
    transition: 0.3s;
    border: 1px solid rgb(255, 255, 255);
}

//  first section end  (category and slider) 
$borderColorCategories: rgb(236, 236, 236);
.jfm_hero_categories {
    border: 1px solid $borderColorCategories;
    // max-width: 270px;
}

.jfm_hero_categories_title {
    padding: 14px 22px;
    font-size: 15px;
    line-height: 18px;
    color: $primaryTextColor;
    border-bottom: none;
    background: #f5f5f5;
    margin: 0;
    font-weight: 700;
}

.jfm_hero_categories_item {
    font-size: 14px;
    font-weight: 500;
    padding: 14px 22px;
    // line-height: 18px;
    color: $secondaryColor;
    border-bottom: none;
    border-top: 1px solid $borderColorCategories;
    transition: 0.3s;
    display: flex;
    justify-content: space-between;
}

.jfm_hero_categories_item:hover {
    background-color: $primaryColor;
    color: $secondaryTextColor;
    transition: 0.3s;
}

.jfm_hero_categories_item_active {
    background-color: $primaryColor;
    color: $secondaryTextColor;
    transition: 0.3s;
}

.jfm_hero_slider {
    // height: 100%;
}

.jfm_hero_slider_image {
    width: 100%;
    height: 100%;
}

// slider
// media quiries 991px
@media screen and (max-width: 768px) {
    .jfm_top_header_left {
        width: 50%;
    }
    .jfm_right_manue {
        display: none;
    }
    .jfm_top_header_right {
        justify-content: flex-end;
        width: 50%;
    }
    .jfm_right_social {
        display: flex;
        justify-content: space-evenly;
        border-left: none;
    }
}