*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.jfm_top_header {
  background-color: #0088CC;
}

.jfm_top_header_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.jfm_top_header_left {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 17%;
}

.jfm_top_header_right {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
  width: 83%;
}

.jfm_right_manue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 85%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 20px;
}

.jfm_right_manue_items {
  padding: 0px 7px;
}

.jfm_right_social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-left: 1px solid #ffffff;
}

.jfm_bottom_header {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jfm_bottom_header_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.jfm_bottom_header_logo > img {
  height: 50px;
}

.jfm_bottom_header_search {
  width: 50%;
}

.jfm_bottom_header_search_bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #0088CC;
  color: gray;
}

.jfm_bottom_header_search_input {
  border: none;
  outline: none;
}

.jfm_bottom_header_functional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.jfm_footer {
  background-color: #222529;
}

.jfm_footer_title {
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 15px;
}

.jfm_footer_logo_image {
  max-width: 104px;
  max-height: 40px;
  margin-bottom: 20px;
}

.jfm_footer_text {
  color: gray;
  margin-bottom: 20px;
  font-size: 13px;
}

.jfm_footer_read_more {
  color: #ffffff;
  line-height: 4;
}

.jfm_footer_secondary_title {
  color: #ffffff;
  font-size: 13px;
}

.jfm_footer_copyright {
  color: gray;
  font-size: 13px;
  border-top: 1px solid gray;
}

.jfm_footer_link {
  color: gray;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 13px;
}

.jfm_footer_link:hover {
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.jfm_footer_tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jfm_footer_tag {
  color: gray;
  text-decoration: none;
  border: 1px solid #424242;
  padding: 2px 7px;
  margin-bottom: 8px;
  margin-right: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 11px;
}

.jfm_footer_tag:hover {
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid white;
}

@media screen and (max-width: 991px) {
  .jfm_top_header_left {
    width: 50%;
  }
  .jfm_right_manue {
    display: none;
  }
  .jfm_top_header_right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: 50%;
  }
  .jfm_right_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-left: none;
  }
}
/*# sourceMappingURL=style.css.map */